<!DOCTYPE html>
<html>
<head>
	<title>MY BODY & I</title>
	<style type="text/css">

	</style>

</head>
<body>
	SHARE YOUR STORY WITH US
<form action="/my_story" method="POST">
    <input type="text" name="name" placeholder="your name / anonymous name">
    <br>
   
    <input type="text" name="time" placeholder="time">
    <br>
    <input type="text" name="title" placeholder="title">
    <br>
    <textarea  type="text" name="story" style="width: 500px" rows="3" placeholder="your story"></textarea>
    <br>
    <input type="submit" value="POST">
</form>
</body>
</html>